#md_test
md_test/h2mof5
md_test/h2mof5/*
frozen*
thermo*
restart*
runlo*
density*
energy*
traj*
radialdist*
*.swp
src/scratc*
a
b
md_test/te
te
#cloc-git.sh
*.tmp
garbage
garbage/*
mof5_77k.dat
blah.*
*.gif
uvt_test/mncopy
dip
callgrin*
*ods
.~lock*
t
mcmd
*.vmd
histogram.dx
dipoles.dat
*.ods
*.par
*.dat
uvt_test/debug
nvt_test/polartest
uvt_test/2*
uvt_test/mof5
uvt_test/rhtrestart
nvt_test/commy
*.png
mcmd.dSYM
